@font-face {
	font-family: very-cursive;
	src: url('./Assets/bellania.ttf');
	/* src: url('./Assets/adelia.otf'); */
}
@font-face {
	font-family: little-serif-italics;
	/* src: url('./Assets/FeFCit2.ttf'); */
	src: url('./Assets/Typey_Italic.otf');
  }
@font-face {
	font-family: little-serif;
	/* src: url('./Assets/FeFCrm2.ttf'); */
	src: url('./Assets/Typey.otf');
}
@font-face {
	font-family: hashtag;
	/* src: url('./Assets/FeFCrm2.ttf'); */
	src: url('./Assets/ArsenicaTrial-Regular.ttf');
}
@font-face {
	font-family: garden;
	/* src: url('./Assets/FeFCrm2.ttf'); */
	src: url('./Assets/GardenParty_PERSONAL_USE_ONLY.otf');
}


html, body{
	height: 100%;
  }

body{
	background-color: #fffce9;
	color: rgb(185, 117, 29);
	font-family: little-serif
}
hr {
	width: 50%;
	border: 0;
    height: 1px;
	margin-top: 0;
	margin-bottom: 0;
    background-image: linear-gradient(to right, rgba(185, 117, 29, 0), rgba(185, 117, 29, 0.75), rgba(185, 117, 29, 0));
}

h3{
	font-size: 1.4em;
}


/* h4{
	padding-left: 1em;
} */

p{
	margin: 0.7rem;
	padding-left: 10vw;
	padding-right: 10vw;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background:  white !important;
	/* background:  #b9751d !important; */
	border: 1px solid rgba(185, 117, 29, 0.8) !important;
	
}


#fp-nav{
	margin-right: -15px;
}

#loading-screen{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
}

.dank-ass-loader{
	margin-top: 30vh;
}

#CS-logo-loading{
	opacity: 0;
	position: absolute;
	top: 30vh;
	height: 150px;
	left: 50vw;
	transform: translate(-50%, -20%);
}

#loading-screen button{
	font-family: little-serif;
	opacity: 0;
	position: absolute;
	bottom: 20vh;
	left: 50vw;
	transform: translate(-50%, 100%);
	background-color:  rgb(185, 117, 29) ;
	/* border: none; */
	padding-bottom: 12px;
	padding-top: 9px;
	padding-left: 14px;
	padding-right: 14px;
	margin: 5px;
	text-decoration: none;
	color: white;
	font-size: 0.8em;
	box-shadow: #00000037 3px 2px 4px;
}

#loading-screen span{
	opacity: 0;
	font-family: garden;
	font-size: 1.6em;
	padding-top: 40px;
	position: absolute;
	left: 50vw;
	top:42vh;
	transform: translate(-50%, 0);
	text-align: center;
}
@media (min-aspect-ratio: 1/1) { 
	#loading-screen span{
		font-size: 2em;
	}
}



.section:not(.invite-page){
	text-align: center;
	background-image: url('./Assets/invite-bg-mc.png') ;
	background-color: #fffce9;
	background-size: contain;
	background-blend-mode: multiply;
}

.section:not(.invite-page) .content{
	top: 8vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.content{
	min-height: 65vh;
	text-align: center;
	z-index: 2;
}

.heading{
	height: 15vh;
	width: 90vw;
	left: 5vw;
	position: absolute;
	top: 5vh;
	text-align: center;
	z-index: 2;
}


.map-outer{
	width: 86vw;
	height: 50vh;
	left: 7vw;
}
.gmap_canvas {
	overflow:hidden;
	/* background:none!important; */
	width:90vw;
	height:50vh;
}

#home{
	background-image: url('./Assets/invite-bg-mc.png');
	background-size: contain;
	background-blend-mode: multiply;
	background-color: #fffce9;
	font-family: little-serif;
}

.down-arrow{
	position: absolute;
    width: 100%;
    bottom: 20px;
	display: flex;
    flex-direction: column;
    align-items: center;
	font-size: 0.7em;
}

.down-arrow img{
	width: 30px;
	-webkit-animation-name: scroll-arrow-anim;
	        animation-name: scroll-arrow-anim;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

#home #location-and-time{
	width: 100%;
	position: absolute;
	bottom: 8vh;
	text-align: center;
	line-height: 1.2;
	font-size: 0.8em;
	z-index: 2;
	color: #b42b2b;
}


#home #anchor-links{
	position: absolute;
	bottom: 21vh;
	width: 70vw;
	margin-left: 15vw;
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
	z-index: 2;
}
#home #peacock-bg{
	position: absolute;
    bottom: 0;
    right: 0;
    max-height: 40vh;
	z-index: 1;
}
#home #peacock-leaf{
	position: absolute;
    bottom: 0;
    right: 0;
    max-height: 40vh;
	z-index: 1;
}
#home #peacock-fg{
	position: absolute;
    bottom: -10px;
    right: -10px;
    max-height: 40vh;
	z-index: 1;
	transform-origin: bottom right ;
	-webkit-animation-name: peacock;
	        animation-name: peacock;
	rotate: -3deg;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
	-webkit-animation-duration: 8s;
	        animation-duration: 8s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}
#home #CS-logo{
	max-height: 12vh;
	max-width: 70vw;
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translate(-50%, 0);
}
#home .lantern-part{
	max-height: 25vh;
	position: absolute;
	top: 0;
	max-width: 25vw;
	transform-origin: top;
	/* transform: scale(0.8); */
	-webkit-animation-name: swing;
	        animation-name: swing;
	transform: scale(0.8) rotateZ(3deg);
	-webkit-animation-duration: 7s;
	        animation-duration: 7s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.00, 0.5, 1);
	        animation-timing-function: cubic-bezier(0.5, 0.00, 0.5, 1);
}

.lantern-part:nth-child(1){
	left: calc(5vw + 4.5vh); 
	-webkit-animation-delay: 1.2s; 
	        animation-delay: 1.2s;
}
.lantern-part:nth-child(2){
	left: calc(5vw + 0.5vh);
	opacity: 0.8; 
	-webkit-animation-delay: 0.9s; 
	        animation-delay: 0.9s;
}
.lantern-part:nth-child(3){
	left: calc(5vw + 10vh); 
	opacity: 0.8;
	-webkit-animation-delay: 1.7s;
	        animation-delay: 1.7s;
}
.lantern-part:nth-child(4){
	left: calc(5vw + 3vh); 
	opacity: 0.40; 
	-webkit-animation-delay: 1.6s; 
	        animation-delay: 1.6s;
}
.lantern-part:nth-child(5){
	left: calc(5vw + 8.5vh); 
	opacity: 0.40; 
	-webkit-animation-delay: 2s; 
	        animation-delay: 2s;
}
.lantern-part:nth-child(6){
	left: calc(5vw + 13vh); 
	opacity: 0.40; 
	-webkit-animation-delay: 1s; 
	        animation-delay: 1s;
}

.lantern-part:nth-child(7){
	right: calc(3vw + 3vh); 
	opacity: 1;
	-webkit-animation-delay: 2.6s;
	        animation-delay: 2.6s;
}
.lantern-part:nth-child(8){
	right: calc(3vw + 9vh); 
	opacity: 0.8; 
	-webkit-animation-delay: 3s; 
	        animation-delay: 3s;
}
.lantern-part:nth-child(9){
	right: calc(3vw + 7vh); 
	opacity: 0.40; 
	-webkit-animation-delay: 2s; 
	        animation-delay: 2s;
}



#anchor-links button{
	background-color:  rgb(185, 117, 29) ;
	padding-bottom: 12px;
	padding-top: 9px;
	padding-left: 14px;
	padding-right: 14px;
	margin: 5px;
	font-family: inherit;
	font-weight: bold;
	text-decoration: none;
	color: white;
	font-size: 0.8em;
	/* border: none; */
	box-shadow: #00000037 3px 2px 4px;
}

@media (min-aspect-ratio: 1/1) { 
	#home #peacock-bg{
		max-height: 70vh;
	}
	#home #peacock-fg{
		max-height: 70vh;
		z-index: 1;
	}
	#home #CS-logo{
		max-height: 100vh;
		width: 20vw;
		position: absolute;
		top: 45vh;
		right: 20vw;
		left: unset;
		transform: translate(0, -90%);
	}
	#home #hashtag{
		font-family: hashtag;
		width: 20vw;
		position: absolute;
		top: 49vh;
		right: 20vw;
		left: unset;
		transform: translate(0, -90%);
	}
	#home #lantern{
		max-height: 40vh;
		position: absolute;
		top: 0;
		left: unset;
		right: 5vw;
		max-width: 25vw;
		/* transform: translate(-50%, 0); */
	}
	#home .lantern-part{
		max-height: 40vh;
		left: unset;
	}

	.lantern-part:nth-child(1){
		right: calc(5vw + 11vh); 
	}
	.lantern-part:nth-child(2){
		right: calc(5vw + 19vh);
	}
	.lantern-part:nth-child(3){
		right: calc(5vw + 5vh); 
	}
	.lantern-part:nth-child(4){
		right: calc(5vw + 17vh); 
	}
	.lantern-part:nth-child(5){
		right: calc(5vw + 9.5vh); 
	}
	.lantern-part:nth-child(6){
		right: calc(5vw + 3vh); 
	}
	/* c2 */
	/* .lantern-part:nth-child(7){
		left: calc(2vw + 3vh); 
	}
	.lantern-part:nth-child(8){
		left: calc(2vw + 9.5vh); 
	}
	.lantern-part:nth-child(9){
		left: calc(2vw + 8vh); 
	} */
	.lantern-part:nth-child(7){
		right: calc(42vw + 3vh); 
	}
	.lantern-part:nth-child(8){
		right: calc(42vw + 9.5vh); 
	}
	.lantern-part:nth-child(9){
		right: calc(42vw + 8vh); 
	}

	
	#home #location-and-time{
		width: 60%;
		right: 0;
		font-size: 1em;
		top: 53vh;
	}
	#home #anchor-links{
		top: 68vh;
		width: 30%;
		margin-right: 15%;
		right: 0;
		bottom: unset;
	}
	#anchor-links a{
		font-size: 1em;
	}
	
}

#scene{
	position: absolute;
	top:0;
	left: 50%;
	transform: translate(-50%, 0) !important;
	height:100%
}

@media (min-aspect-ratio: 1/1) { 
	#scene{
		/* top:50%;
		transform: translate(0,-50%) !important; */
		left: 0;
		transform: translate(0,0) !important;
	}
}

.center-image{
	height: 100%;
	max-height: 50vh;
	max-width: 100vw;
	aspect-ratio: 1;
}

.center-image .parallax{
	position: absolute !important;
}

.center-image img{
	width: 150%;
	transform: translate(-16.7%, 3%);
	-webkit-animation-name: float-phone;
	        animation-name: float-phone;
	-webkit-animation-duration: 18s;
	        animation-duration: 18s;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@media (min-aspect-ratio: 1/1) { 
	.center-image{
		max-height: 100vh;
		max-width: 50vw;
		margin-top: 42vh;
		transform: translate(0, -29vw);

	}
	.center-image img{
		-webkit-animation-name: float;
		        animation-name: float;
		transform: translate(-12.7%, -5%);
	}
}


#scene .masked{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-mask-image: url('./Assets/center-image-mask.png');
	-webkit-mask-size: 150%;
    -webkit-mask-position-x: 50%;
    -webkit-mask-position-y: -50%;
	mask-image: url('./Assets/center-image-mask.png');
	-webkit-mask-size: cover;
	        mask-size: cover;
}

.invite-page{
	background-size: contain;
}
.invite-page .box{
	box-shadow: inset 0px 0px 11px 0px #585858;
}
.box{
	background-color: #fffce9;
	border: 0px solid;
	border-image-slice: 1;
	border-image-source:  linear-gradient(to right top, #e6b678, #ffa53d, #ffdc89, #ffe58c, #ffed90,#ffa53d);
	/* border-color: gold;
	border-style: groove; */
	border-width: 10px;
	position: absolute;
	/* width: 90vw; */
	/* height: 88vh; */
	top: 3vh;
	bottom: 3vh;
	left: 3vh;
	right: 3vh;
	background-image: url('./Assets/invite-bg-mc.png');
	background-size: contain;
	background-blend-mode: multiply;
	box-shadow: 0px 0px 11px 0px #585858;
	z-index: 1;
}
.bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fffce9;
	background-image: url('./Assets/invite-bg-mc.png');
	background-size: contain;
	background-blend-mode: multiply;
}
.droppings{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.content{
	
	position: absolute;
	/* margin-top: 15vh; */
	width: 100%;
	top: 15vh;
	line-height: 1.2;
}

.invite-page .date-and-time p{
	font-size: 0.8em;
	color: #b42b2b;
}

.invite-page #ganesha-image{
	position: absolute;
    height: 80%;
    bottom: 0;
    transform: translateX(-50%);
}

.line-break{
	width: 50vh;
	max-width: 50vw;
}

.invite-page .content>p{
	font-family: little-serif-italics;
	font-size: 0.8em;
	text-align: center;
	opacity: 0;
}
.invite-page .content div{
	opacity: 0;
}
.invite-page h1{
	opacity: 0;
}
.invite-page h3{
	opacity: 0;
}
.invite-page .sub-names{
	font-size: 0.7em;
}
@media (min-aspect-ratio: 1/1) { 
	.invite-page .box{
		top: 5vh;
		bottom: 5vh;
		left: 5vh;
		right: 5vh;
	}
	.invite-page .sub-names{
		font-size: 1em;
	}
	.invite-page .content>p{
		font-size: 1em
	}
}
.invite-page .cursive{
	margin: 0;
	font-family: very-cursive;
}

.content>.little-serif-big{
	font-family: little-serif;
	font-size: 1.2em !important;
	color: #b42b2b;
}

.genda-fool{
	width: 4vh;
	position: absolute;
	top:-4vh;
	z-index: 4;
	-webkit-animation-name: fall;
	        animation-name: fall;
	-webkit-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
}
.petal{
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	width: 3vh;
	position: absolute;
	top:-3vh;
	z-index: 4;
	/* animation-name: fall; */
	-webkit-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
}
.leaf{
	width: 4vh;
	position: absolute;
	top:-4vh;
	z-index: 4;
	/* animation-name: fall; */
	-webkit-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
}

@media (min-aspect-ratio: 1/1) { 
	.content>.little-serif-big{
		font-size: 1.5em !important;
	}
}

#message-textarea{
	width: 64vw;
	height: 30vh;
	font-size: 1em;
	white-space: pre-wrap;
	padding: 10px;
}

@media (min-aspect-ratio: 1/1) { 
	#message-textarea{
		width: 50vw;
		font-size: 1.3em;
	}
}
#message-save-button{
	margin-top: 20px;
	background-color: rgb(185, 117, 29) ;
	/* border: none; */
	font-family: inherit;
	font-weight: bold;
	-webkit-font-kerning: 2em;
	        font-kerning: 2em;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	color: white;
	box-shadow: #00000037 3px 2px 4px;

}

#presence-marker-form{
	font-size: larger;
	font-weight: bold;
	line-height: 2em;
	accent-color: rgb(185,117,29);
}
#presence-marker-form input{
	width: 1.5rem;
	height: 1.5rem;
}
#presence-marker-form label{
	padding-top: 0.25rem;
	padding-left: 0.25em;
}
#presence-marker-form div{
	display: flex;
    flex-direction: row;
    align-items: center;
}

iframe{
	height: 100%;
    width: 90%;
}

#map-content{
	margin-top: 0;
	height: 70vh;
    width: 80vw;
    margin-left: 10vw;
}

#maker{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: absolute;
	width: 100%;
	bottom: 4vh;
}


.invite-trinkets{
	position: absolute;
	-o-object-fit: contain;
	   object-fit: contain;
	opacity: 0.35;
}


#mehendi-invite #mehendi-art{
	max-height: 22vh;
	max-width: 50vw;
	left: 0;
	transform-origin: bottom left;
	/* rotate: 10deg; */
	bottom: 0;
	-o-object-position: -2vh 2vh;
	   object-position: -2vh 2vh;
}

#mehendi-invite #sangeet-art{
	max-height: 27vh;
	max-width: 50vw;
	right: 0;
	bottom: 0;
	-o-object-position: 0vh 3vh;
	   object-position: 0vh 3vh;
}


#haldi-invite #elephant-art{
	max-height: 50vh;
	max-width: 45vw;
	right: 0;
	bottom: 0;
	-o-object-position: 3vh 3vh;
	   object-position: 3vh 3vh;
}

#haldi-invite #elephant-art-left{
	max-height: 50vh;
	max-width: 45vw;
	left: 0;
	bottom: 0;
	-o-object-position: 3vh 3vh;
	   object-position: 3vh 3vh;
	transform: scaleX(-1);
}

#wedding-invite #palki-art{
	max-height: 17vh;
	max-width: 65vw;
	right: 0;
	bottom: 0;
	-o-object-position: 1vh 3vh;
	   object-position: 1vh 3vh;
}

@media (min-aspect-ratio: 1/1) { 
	.invite-trinkets{
		opacity: 0.5;
	}
	#mehendi-invite #mehendi-art{
		max-height: 40vh;
		left: 2vh;
		-o-object-position: 0vh 3vh;
		   object-position: 0vh 3vh;	
	}
	#mehendi-invite #sangeet-art{
		max-height: 60vh;
		max-width: 50vw;
		right: 3vw;
		bottom: 0;
		-o-object-position: 0vh 3vh;
		   object-position: 0vh 3vh;
	}
	#haldi-invite #elephant-art{
		max-width: 25vw;
	}
	#haldi-invite #elephant-art-left{
		max-width: 25vw;
	}
	#wedding-invite #palki-art{
		max-height: 50vh;
		max-width: 45vw;

		-o-object-position: 3vh 3vh;

		   object-position: 3vh 3vh;
	}
}
